In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('supershops.csv')

In [3]:
df.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61        136897.8   471784.1  Dhaka  192261.83

In [4]:
df.shape

(50, 5)

In [5]:
a,b=df.shape

In [6]:
a

50

In [7]:
b

5

In [8]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [9]:
df=df.dropna()

In [10]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [11]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()
df5=df.copy()
df6=df.copy()
df7=df.copy()
df8=df.copy()
df9=df.copy()
df10=df.copy()
df11=df.copy()
df12=df.copy()
df13=df.copy()
df14=df.copy()
df15=df.copy()
df16=df.copy()

In [12]:
df1.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Normalization scaling on df1

In [13]:
df1.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61        136897.8   471784.1  Dhaka  192261.83

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [15]:
ad=scaler.fit(df1[['Marketing Spend']])

In [16]:
ad

MinMaxScaler()

In [17]:
scaler.transform(df1[['Marketing Spend']])
df1['Marketing Spend']=scaler.transform(df1[['Marketing Spend']])
df1.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0         0.692617        136897.8   471784.1  Dhaka  192261.83

In [18]:
df1.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0         0.692617        136897.8   471784.1  Dhaka  192261.83

In [19]:
df1['Administration']=scaler.fit_transform(df1[['Administration']])
df1['Transport']=scaler.fit_transform(df1[['Transport']])

In [20]:
df1.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0         0.692617        0.651744        1.0  Dhaka  192261.83

# Now applying standardization on df2

In [21]:
df2.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61        136897.8   471784.1  Dhaka  192261.83

In [22]:
# from sklearn.preprocessing import MinMaxScaler
# scaler=MinMaxScaler()
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [23]:
df2['Marketing Spend']=ss.fit_transform(df2[['Marketing Spend']])
df2['Administration']=ss.fit_transform(df2[['Administration']])
df2['Transport']=ss.fit_transform(df2[['Transport']])

In [24]:
df2.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0         0.895248        0.586658   2.165287  Dhaka  192261.83

# Now applying Robust scaler on df3

In [25]:
from sklearn.preprocessing import RobustScaler
RS=RobustScaler()

In [26]:
df3.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61        136897.8   471784.1  Dhaka  192261.83

In [27]:
df3['Marketing Spend']=RS.fit_transform(df3[['Marketing Spend']])
df3['Administration']=RS.fit_transform(df3[['Administration']])
df3['Transport']=RS.fit_transform(df3[['Transport']])

In [28]:
df3.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0         0.669502        0.347651   1.552016  Dhaka  192261.83

# Now applying max absolute scaler on df4

In [36]:
from sklearn.preprocessing import MaxAbsScaler
MAS=MaxAbsScaler()

In [37]:
df4.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61        136897.8   471784.1  Dhaka  192261.83

In [38]:
df4['Marketing Spend']=MAS.fit_transform(df4[['Marketing Spend']])
df4['Administration']=MAS.fit_transform(df4[['Administration']])
df4['Transport']=MAS.fit_transform(df4[['Transport']])

In [39]:
df4.head(1)

   Marketing Spend  Administration  Transport   Area     Profit
0         0.692617        0.749527        1.0  Dhaka  192261.83